<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
  </head>
  <body>
  <div class='container'>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul class="nav nav-tabs nav-justified">
    <% blist.forEach(function(item){%>
      <li role="presentation" <% if (item == title) {%> class="active" <% } %>><a href=/<%= item %>><%= item %></a></li>
    <% }); %>
    </ul>
      <% if (restlist != '') { %>
      <% restlist.forEach(function(item){%>
      <li><%= item.name %>,<%= item.cuisine %></a></li>
      <% }); %>
      <% } %>
      <!--li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li-->
    </ul>
  </div>
  </body>
</html>
